<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Veera's World</title>
        <meta name="description" content="World of Veera">
        <meta name="mvvbapiraju@gmail.com" content="Veera">
    </head>

    <body>
        <h1>Welcome to Veera's World!</h1>
        <h2></h2>
        <h2>Ansible has done its job for Tomcat on {{ inventory_hostname }}</h2>
    </body>
</html>
